
///////////////////|Quick global reset
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


///////////////////|Variable Declaration
//|Nav bar
$nav_bar_width: 250px;
$nav_background_colour: #12101B;
$nav_text_color: white;
$nav_bar_font: 'Open Sans', sans-serif;

//|Body
$body_background_color: #F1F1F1;
$donate_button_background_color: #DE294A;

//|Colors
$color_primary: #DE294A;
$color_secondary: #280F98;
$color_secondary_dark: #1D0B6C;
$color_info: #2F80ED;
$color_success: #27AE60;
$color_warning: #E2B93B;
$color_error: #EB5757;
$color_black1: #12101B;
$color_black2: #1D1B26;
$color_black3: #282730;
$color_grey5: #f1f1f1;
$color_white: #ffffff;

$wrapper_background: #1D1B26;


//|Fonts
$serif_font: 'PT-Serif', serif;
$sans_serif_font: 'TP Atten', sans-serif;
$sans_serif_OS: 'Open sans', sans-serif;

//|Font sizings
$h1: 40px;
$h2: 32px;
$h3: 24px;
$h4: 32px;
$h5: 24px;
$h6: 20px;

$weight_extra_bold: 700;
$weight_bold: 600;
$weight_normal: 400;
$weight_light: 300;

$large_text: 20px;
$medium_text: 18px;
$normal_text: 14px;
$small_text: 12px;


//|Custom Fonts
@font-face {
    font-family: 'TP Atten';
    font-weight: regular;
    src: url('../fonts/TPAtten-Regular.otf');
} 
@font-face {
    font-family: 'TP Atten';
    font-weight: 500;
    src: url('../fonts/TPAtten-Medium.otf');
}
@font-face {
    font-family: 'TP Atten';
    font-weight: 700;
    src: url('../fonts/TPAtten-Bold.otf');
}
@font-face {
    font-family: 'TP Atten';
    font-weight: 800;
    src: url('../fonts/TPAtten-ExtraBold.otf');
}

//|Generals


///////////////////|Commons
h1 {    font-size: $h1; font-weight: 400; font-family: $sans_serif_font, sans-serif; }
h2 {    font-size: $h2; font-weight: 400; font-family: $sans_serif_font, sans-serif; }
h3 {    font-size: $h3; font-weight: 400; font-family: $sans_serif_font, sans-serif; }
h4 {    font-size: $h4; font-weight: 400; font-family: $sans_serif_font, sans-serif; }
h5 {    font-size: $h5; font-weight: 400; font-family: $sans_serif_font, sans-serif; }
h6 {    font-size: $h6; font-weight: 700; font-family: $sans_serif_font, sans-serif;}

///////////////////|HTML
html {
    min-height: 100vh;
}

///////////////////|Body
body {
    font-size: $normal_text;
    font-family: $sans_serif_OS;
    margin-left: $nav_bar_width;
    color: white;
    max-width:1040px;
}

///////////////////|Head for mobile
.fixed_top_mobile {
    display: none;
    box-shadow: 0px 7px 13px -7px rgba(0,0,0,0.24);
}

///////////////////|Commons
.button_with_arrow {
    font-size: $large_text;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr 24px 60px;
    div:first-child {
        text-align: right;
    }
    div {
        align-self: center;
        position: relative;
    }
    div .img {
        opacity: .50;
        z-index: 0;
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.donate {
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 200px;
    background: $color_primary;
    grid-template-columns: 2fr 1fr 15px;
}

.stick_box::before {
    content: '';
    width: 5px;
    background: $color_secondary;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.background_color_red {
    font-weight: 600;
    background-color: $donate_button_background_color;
}

.section_margins {
    padding: 40px;
}


///////////////////|Page footer
.footer {
    background-color: $color_black2;
    padding: 25px 0 0;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: minmax(100px, 400px) minmax(50px, 1fr) minmax(200px, 400px);
    grid-template-areas:    "top top top"
                            "left padd right"
                            "bottom bottom bottom";
    .top {
        grid-area: top;
        margin: 20px 0 20px 40px;
        font-family: $sans_serif_font;
    }
    .left {
        grid-area: left;
        margin-left: 40px;
        p {
            margin: 20px 0;
        }
        p:first-child {
            margin-top: 0px;
        }
    }
    .padd {
        grid-area: padd;
    }
    .right {
        grid-area: right;
        font-family: $sans_serif_font;
        .button_with_arrow {
            div:first-child {
                text-align: left;
            }
        }
    }
    .bottom {
        grid-area: bottom;
        text-align: right;
        background-color: $nav_background_colour;
        padding: 35px 20px 35px;
        span {
            font-size: $small_text;
            margin: 0 20px;
            color: rgb(150, 150, 150);
            display: inline-block;
        }
    }
}

/////////////////////////////////////////////////////////
///////////////////|MEDIA QUERIES BELOW 760px
@media only screen and (max-width: 800px) {

    body {
        margin-left: 0;
    }

    .main {
        margin-top: 60px;
    }

    .fixed_top_mobile {
        padding: 20px 25px;
        display: block;
        background: $color_black2;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 65px;
    }

    ////////-----------|Section margins
    .section_margins, section_margins:last-child {
        padding: 20px 20px 20px 20px;
    }

    ////////-----------|Footer
    .footer{
        margin: 0;
        padding: 20px 0 0;
        grid-template-columns: 1fr;
        grid-template-areas:    "top" "left" "right" "bottom";
        column-gap: 0;
        row-gap: 0;
        .top {
            h1 { font-size: 32px; }
            margin: 0 0 20px 20px;
        }
        .padd { display: none; }
        .left { padding-right: 40px; margin-left: 20px;  }
        .right { padding-left: 20px; }
        .bottom {
            padding: 10px;
            margin: 0;
            span {
                display: block;
                padding: 5px 10px 10px 0px;
                margin: 0;
            }
        }
    }
}