* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: 'TP Atten';
  font-weight: regular;
  src: url("../fonts/TPAtten-Regular.otf");
}

@font-face {
  font-family: 'TP Atten';
  font-weight: 500;
  src: url("../fonts/TPAtten-Medium.otf");
}

@font-face {
  font-family: 'TP Atten';
  font-weight: 700;
  src: url("../fonts/TPAtten-Bold.otf");
}

@font-face {
  font-family: 'TP Atten';
  font-weight: 800;
  src: url("../fonts/TPAtten-ExtraBold.otf");
}

h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "TP Atten", sans-serif, sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  font-family: "TP Atten", sans-serif, sans-serif;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "TP Atten", sans-serif, sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: "TP Atten", sans-serif, sans-serif;
}

h5 {
  font-size: 55px;
  font-weight: 400;
  font-family: "TP Atten", sans-serif, sans-serif;
}

h6 {
  font-size: 55px;
  font-weight: 700;
  font-family: "TP Atten", sans-serif, sans-serif;
}

html {
  min-height: 100vh;
}

body {
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  margin-left: 250px;
  color: white;
  max-width: 1040px;
}

.fixed_top_mobile {
  display: none;
  -webkit-box-shadow: 0px 7px 13px -7px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 7px 13px -7px rgba(0, 0, 0, 0.24);
}

.button_with_arrow {
  font-size: 20px;
  padding: 15px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 60px;
      grid-template-columns: 1fr 24px 60px;
}

.button_with_arrow div:first-child {
  text-align: right;
}

.button_with_arrow div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.button_with_arrow div .img {
  opacity: .50;
  z-index: 0;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.donate {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 200px;
  background: #DE294A;
  -ms-grid-columns: 2fr 1fr 15px;
      grid-template-columns: 2fr 1fr 15px;
  cursor: pointer;
}

.stick_box::before {
  content: '';
  width: 5px;
  background: #280F98;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background_color_red {
  font-weight: 600;
  background-color: #DE294A;
}

.section_margins {
  padding: 40px;
}

.footer {
  background-color: #1D1B26;
  padding: 25px 0 0;
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-columns: minmax(100px, 400px) minmax(50px, 1fr) minmax(200px, 400px);
      grid-template-columns: minmax(100px, 400px) minmax(50px, 1fr) minmax(200px, 400px);
      grid-template-areas: "top top top" "left padd right" "bottom bottom bottom";
}

.footer .top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: top;
  margin: 20px 0 20px 40px;
  font-family: "TP Atten", sans-serif;
}

.footer .left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
  margin-left: 40px;
}

.footer .left p {
  margin: 20px 0;
}

.footer .left p:first-child {
  margin-top: 0px;
}

.footer .padd {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: padd;
}

.footer .right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right;
  font-family: "TP Atten", sans-serif;
}

.footer .right .button_with_arrow div:first-child {
  text-align: left;
}

.footer .bottom {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bottom;
  text-align: right;
  background-color: #12101B;
  padding: 35px 20px 35px;
}

.footer .bottom span {
  font-size: 12px;
  margin: 0 20px;
  color: #969696;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  body {
    margin-left: 0;
  }
  .main {
    margin-top: 60px;
  }
  .fixed_top_mobile {
    padding: 20px 25px;
    display: block;
    background: #1D1B26;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 65px;
  }
  .section_margins, section_margins:last-child {
    padding: 20px 20px 20px 20px;
  }
  .footer {
    margin: 0;
    padding: 20px 0 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "top" "left" "right" "bottom";
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 0;
  }
  .footer .top {
    margin: 0 0 20px 20px;
  }
  .footer .top h1 {
    font-size: 32px;
  }
  .footer .padd {
    display: none;
  }
  .footer .left {
    padding-right: 40px;
    margin-left: 20px;
  }
  .footer .right {
    padding-left: 20px;
  }
  .footer .bottom {
    padding: 10px;
    margin: 0;
  }
  .footer .bottom span {
    display: block;
    padding: 5px 10px 10px 0px;
    margin: 0;
  }
}

body {
  background-color: #f1f1f1;
}

.index .content_head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 1fr) 1fr 270px;
      grid-template-columns: minmax(300px, 1fr) 1fr 270px;
  margin: 0px 0px 20px;
  color: #1D1B26;
}

.index_main {
  background-color: #1D1B26;
  display: -ms-grid;
  display: grid;
  padding-right: 0;
}

.index_main .donate_button {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.index_main .donate_button .button_with_arrow {
  background-color: #DE294A;
  margin: 0;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
}

.index_main .box_box {
  padding-right: 40px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "first first first first second second second" "third third third fourth fourth fourth fourth";
}

.index_main .box_box .donate {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #EB5757;
}

.index_main .box_box .first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: first;
  background-color: #12101B;
  position: relative;
  padding: 40px;
}

.index_main .box_box .first h4 {
  font-family: 'TP Atten';
}

.index_main .box_box .second {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: second;
  position: relative;
  -ms-grid-column-align: left;
      justify-self: left;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: "one two" "image three";
}

.index_main .box_box .second .pad1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.index_main .box_box .second .imagebox {
  z-index: 10;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  position: relative;
}

.index_main .box_box .second .imagebox img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.index_main .box_box .second .imagebox::before {
  content: '';
  width: 340px;
  height: 200px;
  background-color: #12101B;
  position: absolute;
  top: 50px;
  left: 100px;
}

.index_main .box_box .second .pad2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: two;
}

.index_main .box_box .second .pad3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: three;
}

.index_main .box_box .third {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: third;
  -ms-grid-column-align: right;
      justify-self: right;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "one image" "two three";
}

.index_main .box_box .third .pad1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.index_main .box_box .third .imagebox {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  z-index: 5;
}

.index_main .box_box .third .imagebox img {
  width: 100%;
}

.index_main .box_box .third .pad2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: two;
}

.index_main .box_box .third .pad3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: three;
}

.index_main .box_box .third .imagebox::before {
  content: '';
  width: 280px;
  height: 120px;
  background-color: #12101B;
  position: absolute;
  top: 380px;
  left: 250px;
  z-index: -10;
}

.index_main .box_box .fourth {
  cursor: pointer;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: fourth;
  background-color: #12101B;
  height: 250px;
  background-image: url("/images/image_video.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  position: relative;
  z-index: 10;
}

.index_main .box_box .fourth .button_with_arrow {
  width: 280px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.index_main .box_box .fourth .film_box_bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 40px;
  height: 100%;
  background: rgba(40, 15, 152, 0.25);
}

.index_main .box_box h4 {
  font-family: "PT-Serif", serif;
}

.index_main .box_box p {
  font-size: 14px;
  margin: 20px 0;
}

.index_main .button_with_arrow {
  background-color: #12101B;
  margin-top: 40px;
  width: 350px;
  -ms-grid-column-align: right;
      justify-self: right;
}

.index_events {
  color: #1D1B26;
  padding-right: 0;
}

.index_events .events_announcements {
  color: #ffffff;
  background-color: #280F98;
  padding: 20px;
  margin-bottom: 40px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 350px;
      grid-template-columns: 1fr 350px;
}

.index_events .events_announcements p {
  padding: 10px 0 0;
}

.index_events .events_announcements .button_with_arrow {
  background-color: #1D0B6C;
  margin: 20px 0 0 20px;
  width: 300px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.index_events .content_box {
  padding-right: 40px;
}

.index_events .content_box .events_box .featured_event {
  position: relative;
  margin: 40px 0 0;
  background-color: #1D1B26;
  color: #ffffff;
}

.index_events .content_box .events_box .featured_event .featured_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4px 1fr 270px;
      grid-template-columns: 4px 1fr 270px;
      grid-template-areas: "stick content image";
}

.index_events .content_box .events_box .featured_event .featured_main .stick {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stick;
  background-color: #280F98;
}

.index_events .content_box .events_box .featured_event .featured_main .featured_content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 40px;
      grid-template-columns: 1fr 250px;
}

.index_events .content_box .events_box .featured_event .featured_main .featured_content .featured_title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  margin: 0 0 20px;
}

.index_events .content_box .events_box .featured_event .featured_main .featured_content .featured_title .featured_dates {
  color: #ffffff;
  background-color: #280F98;
  position: absolute;
  top: -20px;
  left: 0;
  padding: 10px 15px;
}

.index_events .content_box .events_box .featured_event .featured_main .featured_content .featured_text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.index_events .content_box .events_box .featured_event .featured_main .featured_content .featured_text p {
  margin: 10px 0;
}

.index_events .content_box .events_box .featured_event .featured_main .featured_content .featured_text .emphasise {
  font-weight: 600;
}

.index_events .content_box .events_box .featured_event .featured_main .featured_image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-color: #282730;
}

.index_events .content_box .events_box .event {
  background-color: #ffffff;
  position: relative;
  margin: 60px 0 0;
}

.index_events .content_box .events_box .event .event_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4px 1fr 270px;
      grid-template-columns: 4px 1fr 270px;
      grid-template-areas: "stick content image";
}

.index_events .content_box .events_box .event .event_main .box_content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 40px;
  -ms-grid-columns: 1fr 250px;
      grid-template-columns: 1fr 250px;
}

.index_events .content_box .events_box .event .event_main .box_content .box_title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.index_events .content_box .events_box .event .event_main .box_content .box_title .box_dates {
  color: #ffffff;
  background-color: #280F98;
  position: absolute;
  top: -20px;
  left: 0;
  padding: 10px 15px;
}

.index_events .content_box .events_box .event .event_main .box_content .box_text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.index_events .content_box .events_box .event .event_main .box_image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-color: #1D1B26;
}

.index_newsletter {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
  height: 174px;
}

.index_newsletter .newletter_head {
  text-align: center;
  margin: 10px 0;
}

.index_newsletter .newletter_head h4 {
  color: #12101B;
  font-weight: 600;
}

.index_newsletter .newsletter_form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin-bottom: 20px;
  font-family: "TP Atten", sans-serif;
}

.index_newsletter .newsletter_form input[type=email], .index_newsletter .newsletter_form input[type=submit] {
  height: 56px;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  width: 95%;
}

.index_newsletter .newsletter_form input[type=email] {
  margin-right: 20px;
  padding: 0 20px;
  border: 1px solid #4F4F4F;
}

.index_newsletter .newsletter_form input[type=submit] {
  background-color: #DE294A;
  color: white;
  cursor: pointer;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.index_newsletter .newsletter_form input[type=submit]:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.index_performances {
  background-color: #ffffff;
  color: #12101B;
}

.performances_events {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 40px;
}

.performances_events .events_box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image" "title" "text";
}

.performances_events .events_box .events_image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  width: 100%;
  height: 160px;
  background-color: #1D1B26;
}

.performances_events .events_box .events_title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.performances_events .events_box .events_title p {
  font-size: 20px;
  font-weight: 600;
}

.performances_events .events_box .events_text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.modal_window {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal_window .modal_content {
  color: white;
  width: 500px;
  font-size: 90px;
}

.modal_window .modal_content .modal_close {
  color: #f1f1f1;
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 36px;
  font-weight: bold;
}

.modal_window .modal_content .modal_close:hover, .modal_window .modal_content .modal_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .index_main .donate_button .button_with_arrow {
    background-color: #DE294A;
    margin: 0;
    width: 200px;
    position: absolute;
    right: 0;
    top: 260px;
  }
  .index_main .box_box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "first" "fourth";
    row-gap: 0px;
    padding-right: 0;
  }
  .index_main .box_box .first {
    margin-bottom: 20px;
  }
  .index_main .box_box .second {
    display: none;
  }
  .index_main .box_box .third {
    display: none;
  }
  .index_main .box_box .fourth {
    margin-top: 80px;
  }
  .index_main .button_with_arrow {
    margin-top: 20px;
  }
  .index_events .events_announcements {
    padding-bottom: 80px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .index_events .content_box {
    padding-right: 20px;
  }
  .index_events .content_box .events_box .featured_event .featured_main {
    -ms-grid-columns: 4px 1fr;
        grid-template-columns: 4px 1fr;
        grid-template-areas: "stick image" "stick content";
  }
  .index_events .content_box .events_box .featured_event .featured_main .featured_image {
    height: 200px;
  }
  .index_events .content_box .events_box .event {
    margin: 40px 0 0;
  }
  .index_events .content_box .events_box .event .event_main {
    -ms-grid-columns: 4px 1fr;
        grid-template-columns: 4px 1fr;
        grid-template-areas: "stick image" "stick content";
  }
  .index_events .content_box .events_box .event .event_main .box_image {
    height: 200px;
  }
  .index_newsletter {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index_newsletter .newsletter_form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .index_newsletter .newsletter_form .sub input[type=email] {
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
  }
  .index_newsletter .newsletter_form .sub input[type=submit] {
    width: 100%;
  }
  .index_performances .content_box .content_head .button_with_arrow {
    display: none;
  }
  .index_performances .performances_events {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .index_performances .performances_events .events_box {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "image title" "image text";
  }
  .index_performances .performances_events .events_box .events_image {
    height: 100px;
  }
  .index_performances .performances_events .events_box .events_title {
    margin-left: 20px;
  }
  .index_performances .performances_events .events_box .events_text {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=index.css.map */