* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

h1 {
  font-size: 56px;
  font-weight: 400;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 40px;
  font-weight: 400;
}

h4 {
  font-size: 32px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

html {
  min-height: 100vh;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-left: 250px;
  color: white;
  max-width: 1040px;
}

.fixed_top_mobile {
  display: none;
  -webkit-box-shadow: 0px 7px 13px -7px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 7px 13px -7px rgba(0, 0, 0, 0.24);
}

.button_with_arrow {
  font-size: 20px;
  padding: 15px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr 25px;
      grid-template-columns: 250px 1fr 25px;
}

.button_with_arrow .fas {
  opacity: .50;
  z-index: 0;
  font-size: 24px;
  position: relative;
  top: 2px;
  right: 8px;
}

.donate {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 200px;
  background: #DE294A;
  -ms-grid-columns: 2fr 1fr 15px;
      grid-template-columns: 2fr 1fr 15px;
}

.stick_box::before {
  content: '';
  width: 5px;
  background: #280F98;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background_color_red {
  font-weight: 600;
  background-color: #DE294A;
}

.section_margins {
  padding: 40px;
}

.footer {
  font-family: "Open Sans", sans-serif;
  background-color: #1D1B26;
  padding: 25px 0 0;
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-columns: minmax(100px, 400px) minmax(50px, 1fr) minmax(200px, 400px);
      grid-template-columns: minmax(100px, 400px) minmax(50px, 1fr) minmax(200px, 400px);
      grid-template-areas: "top top top" "left padd right" "bottom bottom bottom";
}

.footer .top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: top;
  margin: 20px 0 20px 40px;
}

.footer .left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
  margin-left: 40px;
}

.footer .left p {
  margin: 20px 0;
}

.footer .left p:first-child {
  margin-top: 0px;
}

.footer .padd {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: padd;
}

.footer .right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right;
}

.footer .bottom {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bottom;
  text-align: right;
  background-color: #12101B;
  padding: 35px 20px 35px;
}

.footer .bottom span {
  font-size: 12px;
  margin: 0 20px;
  color: #969696;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  body {
    margin-left: 0;
  }
  .main {
    margin-top: 60px;
  }
  .fixed_top_mobile {
    padding: 20px 25px;
    display: block;
    background: #1D1B26;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 65px;
  }
  .section_margins {
    padding: 20px 20px 20px 20px;
  }
  .footer {
    margin: 0;
    padding: 20px 0 0;
    padding-right: 0px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .footer .top {
    margin: 0 0 20px 20px;
  }
  .footer .top h1 {
    font-size: 32px;
  }
  .footer .left {
    padding-right: 40px;
    margin-left: 20px;
  }
  .footer .bottom {
    padding: 10px;
    margin: 0;
  }
  .footer .bottom span {
    display: block;
    padding: 5px 10px 10px 0px;
    margin: 0;
  }
}

.index .content_head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 1fr) 1fr 270px;
      grid-template-columns: minmax(300px, 1fr) 1fr 270px;
  margin: 0px 0px 20px;
  color: #1D1B26;
}

.index .button_with_arrow {
  font-size: 20px;
  padding: 15px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr 15px;
      grid-template-columns: 200px 1fr 15px;
}

.index .button_with_arrow .arrow {
  position: relative;
  top: 3px;
  right: 5px;
  opacity: .50;
  font-size: 24px;
  z-index: 0;
}

.index_main {
  background-color: #1D1B26;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "first first first first second second second" "third third third fourth fourth fourth fourth";
}

.index_main .donate {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #EB5757;
}

.index_main .first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: first;
  background-color: #12101B;
  position: relative;
  padding: 40px;
}

.index_main .second {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: second;
  position: relative;
  -ms-grid-column-align: left;
      justify-self: left;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: "one two" "image three";
}

.index_main .second .pad1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.index_main .second .imagebox {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.index_main .second .imagebox img {
  width: 100%;
}

.index_main .second .pad2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: two;
}

.index_main .second .pad3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: three;
}

.index_main .third {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: third;
  -ms-grid-column-align: right;
      justify-self: right;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "one image" "two three";
}

.index_main .third .pad1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.index_main .third .imagebox {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
}

.index_main .third .imagebox img {
  width: 100%;
}

.index_main .third .pad2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: two;
}

.index_main .third .pad3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: three;
}

.index_main .fourth {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: fourth;
  background-color: #12101B;
  height: 250px;
  background-image: url("/images/image_video.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  position: relative;
}

.index_main .fourth .button_with_arrow {
  width: 250px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.index_main .fourth .film_box_bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 40px;
  height: 100%;
  background: rgba(40, 15, 152, 0.25);
}

.index_main h4 {
  font-family: "PT-Serif", serif;
}

.index_main p {
  font-size: 14px;
  margin: 20px 0;
}

.index_events {
  background-color: #ffffff;
  color: #1D1B26;
}

.index_events .events_announcements {
  color: #ffffff;
  background-color: #280F98;
  padding: 40px 40px 80px 40px;
  margin-bottom: 40px;
  position: relative;
}

.index_events .events_announcements p {
  font-size: 18px;
}

.index_events .events_announcements .button_with_arrow {
  background-color: #1D0B6C;
  margin: 20px 0 0 20px;
  width: 250px;
  position: absolute;
  right: 00px;
  bottom: 0px;
}

.index_events .events_box .featured_event {
  position: relative;
  margin: 40px 0 0;
  background-color: #1D1B26;
  color: #ffffff;
}

.index_events .events_box .featured_event .featured_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4px 1fr 270px;
      grid-template-columns: 4px 1fr 270px;
      grid-template-areas: "stick content image";
}

.index_events .events_box .featured_event .featured_main .stick {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stick;
  background-color: #280F98;
}

.index_events .events_box .featured_event .featured_main .featured_content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 40px;
      grid-template-columns: 1fr 250px;
}

.index_events .events_box .featured_event .featured_main .featured_content .featured_title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  margin: 0 0 20px;
}

.index_events .events_box .featured_event .featured_main .featured_content .featured_title .featured_dates {
  color: #ffffff;
  background-color: #280F98;
  position: absolute;
  top: -20px;
  left: 0;
  padding: 10px 15px;
}

.index_events .events_box .featured_event .featured_main .featured_content .featured_text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.index_events .events_box .featured_event .featured_main .featured_content .featured_text p {
  margin: 10px 0;
}

.index_events .events_box .featured_event .featured_main .featured_content .featured_text .emphasise {
  font-weight: 600;
}

.index_events .events_box .featured_event .featured_main .featured_image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-color: #282730;
}

.index_events .events_box .event {
  position: relative;
  margin: 60px 0 0;
  background-color: #f1f1f1;
}

.index_events .events_box .event .event_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4px 1fr 270px;
      grid-template-columns: 4px 1fr 270px;
      grid-template-areas: "stick content image";
}

.index_events .events_box .event .event_main .stick {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stick;
  background-color: #280F98;
}

.index_events .events_box .event .event_main .box_content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 40px;
  -ms-grid-columns: 1fr 250px;
      grid-template-columns: 1fr 250px;
}

.index_events .events_box .event .event_main .box_content .box_title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.index_events .events_box .event .event_main .box_content .box_title .box_dates {
  color: #ffffff;
  background-color: #280F98;
  position: absolute;
  top: -20px;
  left: 0;
  padding: 10px 15px;
}

.index_events .events_box .event .event_main .box_content .box_text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

.index_events .events_box .event .event_main .box_image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-color: #1D1B26;
}

.index_newsletter {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1D1B26;
}

.index_newsletter .newletter_head {
  text-align: center;
  margin: 10px 0;
}

.index_newsletter .newsletter_form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin-bottom: 20px;
}

.index_newsletter .newsletter_form input[type=email], .index_newsletter .newsletter_form input[type=submit] {
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  width: 95%;
}

.index_newsletter .newsletter_form input[type=email] {
  margin-right: 20px;
  padding: 0 20px;
}

.index_newsletter .newsletter_form input[type=submit] {
  background-color: #DE294A;
  color: white;
  cursor: pointer;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.index_newsletter .newsletter_form input[type=submit]:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.index_performances {
  background-color: #ffffff;
  color: #12101B;
}

.performances_events {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 40px;
}

.performances_events .events_box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image" "title" "text";
}

.performances_events .events_box .events_image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  width: 100%;
  height: 160px;
  background-color: #1D1B26;
}

.performances_events .events_box .events_title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.performances_events .events_box .events_title p {
  font-size: 20px;
  font-weight: 600;
}

.performances_events .events_box .events_text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
}

@media only screen and (max-width: 800px) {
  .index_main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "first" "fourth";
    row-gap: 0px;
    padding-right: 0;
  }
  .index_main .first {
    margin-bottom: 20px;
  }
  .index_main .second {
    display: none;
  }
  .index_main .third {
    display: none;
  }
  .index_events .content_head {
    margin: 0 0 10px;
  }
  .index_events .content_head .button_with_arrow {
    display: none;
  }
  .index_events .events_box {
    padding: 20px 0;
  }
  .index_events .events_box .featured_event .featured_main {
    -ms-grid-columns: 4px 1fr;
        grid-template-columns: 4px 1fr;
        grid-template-areas: "stick image" "stick content";
  }
  .index_events .events_box .featured_event .featured_main .featured_image {
    height: 200px;
  }
  .index_events .events_box .event .event_main {
    -ms-grid-columns: 4px 1fr;
        grid-template-columns: 4px 1fr;
        grid-template-areas: "stick image" "stick content";
  }
  .index_events .events_box .event .event_main .box_image {
    height: 200px;
  }
  .index_newsletter {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #1D1B26;
  }
  .index_newsletter .newsletter_form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .index_newsletter .newsletter_form .sub input[type=email] {
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
  }
  .index_newsletter .newsletter_form .sub input[type=submit] {
    width: 100%;
  }
  .index_newsletter .newsletter_form .sub input[type=submit]:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .index_performances .content_head .button_with_arrow {
    display: none;
  }
  .index_performances .performances_events {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .index_performances .performances_events .events_box {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "image title" "image text";
  }
  .index_performances .performances_events .events_box .events_image {
    height: 100px;
  }
  .index_performances .performances_events .events_box .events_title {
    margin-left: 20px;
  }
  .index_performances .performances_events .events_box .events_text {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=index.css.map */