@import 'variables';

body {
    background-color: $color_grey5;
}

///////////////////|index - commons
.index {
    .content_head {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 1fr 270px;
        margin: 0px 0px 20px;
        color: $color_black2;
    }
}

///////////////////|Content - Main
.index_main {
    background-color: $color_black2;
    display: grid;
    padding-right: 0;
    .donate_button {
        position: relative;
        z-index: 100;
        .button_with_arrow {
            background-color: $donate_button_background_color;
            margin: 0;
            width: 200px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .box_box {
        padding-right: 40px;
        position: relative;
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:    "first first first first second second second"
                                "third third third fourth fourth fourth fourth";
        .donate{
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: $color_error;
        }
        .first {
            grid-area: first;
            background-color: $color_black1;
            position: relative;
            padding: 40px;
            h4 {
                font-family: 'TP Atten';
            }
        } 
        .second {
            grid-area: second;
            position: relative;
            justify-self: left;
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr 2fr;
            grid-template-areas:    "one two"
                                    "image three";
            .pad1 { grid-area: one; }
            .imagebox {
                z-index: 10;
                grid-area: image;
                position: relative;
                img {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            .imagebox::before {
                content: '';
                width: 340px;
                height: 200px;
                background-color: $color_black1;
                position: absolute;
                top: 50px;
                left: 100px;
            }
            .pad2 { grid-area: two; }
            .pad3 { grid-area: three; }
        }
        .third {
            grid-area: third;
            justify-self: right;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-areas:    "one image"
                                    "two three";
            .pad1 { grid-area: one; }
            .imagebox {
                grid-area: image;
                z-index: 5;
                img {
                    width: 100%;
                }
            }
            .pad2 { grid-area: two; }
            .pad3 { grid-area: three; }
            .imagebox::before {
                content: '';
                width: 280px;
                height: 120px;
                background-color: $color_black1;
                position: absolute;
                top: 380px;
                left: 250px;
                z-index: -10;
            }
        }
        .fourth {
            cursor: pointer;
            grid-area: fourth;
            background-color: $color_black1;
            height: 250px;
            background-image: url('/images/image_video.png');
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100%;
            position: relative;
            z-index: 10;
            .button_with_arrow {
                width: 280px;
                position: absolute;
                bottom: 0px;
                right: 0px;
                background-color: rgba($color: black, $alpha: .5);
            }
            .film_box_bar::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 40px;
                height: 100%;
                background: rgba($color: $color_secondary, $alpha: .25);
            }
        }
        h4 {
            font-family: $serif_font;
        }
        p {
            font-size: $normal_text;
            margin: 20px 0;
        }
    }
    .button_with_arrow {
        background-color: $color_black1;
        margin-top: 40px;
        width: 350px;
        justify-self: right;
    }
}


///////////////////|Content - Upcoming events
.index_events {
    color: $color_black2;
    padding-right: 0;
    .events_announcements {
        color: $color_white;
        background-color: $color_secondary;
        padding: 20px;
        margin-bottom: 40px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 350px;
        p {
            padding: 10px 0 0;
        }
        .button_with_arrow {
            background-color: $color_secondary_dark;
            margin: 20px 0 0 20px;
            width: 300px;
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }
    .content_box {
        padding-right: 40px;
        .events_box {
            .featured_event {
                position: relative;
                margin: 40px 0 0;
                background-color: $color_black2;
                color: $color_white;
                .featured_main {
                    display: grid;
                    grid-template-columns: 4px 1fr 270px;
                    grid-template-areas: "stick content image"; 
                    .stick {
                        grid-area: stick;
                        background-color: $color_secondary;
                    }
                    .featured_content {
                        grid-area: content;
                        padding: 40px;
                        grid-template-columns: 1fr 250px;
                        .featured_title {
                            grid-area: title;
                            margin: 0 0 20px;
                            .featured_dates {
                                color: $color_white;
                                background-color: $color_secondary;
                                position: absolute;
                                top: -20px;
                                left: 0;
                                padding: 10px 15px;
                            }
                        }
                        .featured_text {
                            grid-area: text;
                            p {
                                margin: 10px 0;
                            }
                            .emphasise {
                                font-weight: $weight_bold;
                            }
                        }
                    }
                    .featured_image {
                        grid-area: image;
                        background-color: $color_black3;
                    }
                }
            }
            .event {
                background-color: $color_white;
                position: relative;
                margin: 60px 0 0;
                .event_main {
                    display: grid;
                    grid-template-columns: 4px 1fr 270px;
                    grid-template-areas: "stick content image"; 
                    // .stick {
                    //     grid-area: stick;
                    //     background-color: $color_secondary;
                    // }
                    .box_content {
                        grid-area: content;
                        padding: 40px;
                        grid-template-columns: 1fr 250px;
                        .box_title      {
                            grid-area: title;
                            .box_dates {
                                color: $color_white;
                                background-color: $color_secondary;
                                position: absolute;
                                top: -20px;
                                left: 0;
                                padding: 10px 15px;
                            }
                        }
                        .box_text       {   grid-area: text }
                    }
                    .box_image {
                        grid-area: image;
                        background-color: $color_black2;
                    }
                }
            }
        }
    }
}


///////////////////|Content - newsletter signup
.index_newsletter {
    display: grid;
    justify-content: center;
    background-color: $color_grey5;
    padding-top: 20px;
    .newletter_head {
        text-align: center;
        margin: 10px 0;
        h6 {
            color: $color_black1;
        }
    }
    .newsletter_form {
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-bottom: 20px;
        font-family: $sans_serif_font;
        input[type=email], input[type=submit] {
            height: 60px;
            font-size: $normal_text;
            font-weight: $weight_bold;
            border: 0;
            width: 95%;
        }
        input[type=email] {
            margin-right: 20px;
            padding: 0 20px;
            border: 1px solid black;
        }
        input[type=submit] {
            background-color: $color_primary;
            color: white;
            cursor: pointer;
            transition: 100ms ease-out;
        }
        input[type=submit]:hover {
            transform: scale(1.05);
        }
    }
}

///////////////////|Content - Performances
.index_performances {
    background-color: $color_white;
    color: $color_black1;
}

.performances_events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    .events_box {
        display: grid;
        grid-template-areas:    "image"
                                "title"
                                "text";
        .events_image {
            grid-area: image;
            width: 100%;
            height: 160px;
            background-color: $color_black2;
        }
        .events_title {
            grid-area: title;
            p {
                font-size: $large_text;
                font-weight: $weight_bold;
            }
        }
        .events_text {
            grid-area:  text;
        }
    }
}

///////////////////|MODAL WINDOW
.modal_window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    align-content: center;
    justify-content: center;
    .modal_content {
        color: white;
        width: 500px;
        font-size: 90px;
        .modal_close {
            color:$color_grey5;
            position: fixed;
            top: 25px;
            right: 25px;
            font-size: 36px;
            font-weight: bold;
        }
        .modal_close:hover, .modal_close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}





/////////////////////////////////////////////////////////
///////////////////|MEDIA QUERIES BELOW 760px
@media only screen and (max-width: 800px) {

    ////////-----------|Index Main
    .index_main {
        .donate_button {
            .button_with_arrow {
                background-color: $donate_button_background_color;
                margin: 0;
                width: 200px;
                position: absolute;
                right: 0;
                top: 260px;
            }
        }
        .box_box {
            grid-template-columns: 1fr;
            grid-template-areas: "logo" "first" "fourth";
            row-gap: 0px;
            padding-right: 0;
            .first {
                margin-bottom: 20px;
            }
            .second {
                display: none;
            }
            .third {
                display: none;
            }
            .fourth {
                margin-top: 80px;
            }
        }
        .button_with_arrow {
            margin-top: 20px;
        }
    }

    ////////-----------|Events
    .index_events {
        .events_announcements {
            padding-bottom: 80px;
            grid-template-columns: 1fr;
        }
        .content_box {
            padding-right: 20px;
            .events_box {
                .featured_event {
                    .featured_main {
                        grid-template-columns: 4px 1fr;
                        grid-template-areas:    "stick image"
                                                "stick content";
                        .featured_image {
                            height: 200px;
                        }
                    }
                }
                .event {
                    margin: 40px 0 0;
                    .event_main {
                        grid-template-columns: 4px 1fr;
                        grid-template-areas:    "stick image"
                                                "stick content";
                        .box_image {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }

    ////////-----------|Newsletter
    .index_newsletter {
        display: grid;
        justify-content: center;
        .newsletter_form {
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr;
            .sub {
                input[type=email] {
                    margin: 20px 0;
                    padding: 0 20px;
                    width: 100%;
                }
                input[type=submit] {
                    width: 100%;
                }
            }
        }
    }
        
    ////////-----------|Performances
    .index_performances {
        .content_box {
            .content_head {
                .button_with_arrow {
                    display: none;
                }
            }
        }
        .performances_events {
            display: grid;
            grid-template-columns: 1fr;
            .events_box {
                display: grid;
                grid-template-areas:    "image title"
                                        "image text";
                .events_image {
                    height: 100px;
                }
                .events_title {
                    margin-left: 20px;
                }
                .events_text {
                    margin-left: 20px;
                }
            }
        }
    }

}