{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/content.css') }}">
{% endblock %}

{% block title %}
    Our Work
{% endblock %}

{% block content %}
    <div class="our_work">
        <div class="logo_mobile">
            <img src="{{ url_for('static', filename='images/logo_inv.png') }}" alt="BBCF">
        </div>
        <div class="page_heading section_margins stick_box">
            <div class="left">
                <h3>Our work</h3>
                <div class="subtext">
                    Black British Classical Foundation exists for the purpose of nurturing an interest and participation in classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.
                </div>
            </div>
            <div class="right">
                <div class="contact_box">
                    <div class="head stick_box">
                        <h6>Get in touch</h6>
                    </div>
                    <p><span class="bold">Phone : </span>+44 7855 800 212</p>
                    <p><span class="bold">eMail : </span>hello@bbcf.uk</p>
                </div>
            </div>
            <div class="button_with_arrow donate" onclick="window.open('https://www.paypal.com/paypalme/my/profile');">
                <div>Donate</div>
                <div></div>
                <div><i class="fas fa-chevron-circle-right"></i></ion-icon></div>
            </div>
        </div>
        <div class="page_content">
            <h4>
                Our mission
            </h4>
            <div class="text_block">
                We are incorporated  to address the situation where ethnic minorities are underrepresented in the field of opera and the Classical arts in general. Across society, powerful role models can inspire future generations, whether it is in sport, science, or the arts.
            </div>
            <div class="text_block">
                By fulfilling this need we hope to encourage minority audiences to see possibilities for themselves, to say, "Yes, I too can do that!" Our work takes us to engage with many different communities including Schools, Prisons,Churches and Health and Caring communities. 
            </div>
            <div class="text_block blue_box">
                <div class="stick_box">
                    Black British Classical Foundation exists for the purpose of nurturing an interest and participation in the classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.
                </div>
            </div>
            <div class="text_block">
                We are incorporated  to address the situation where ethnic minorities are underrepresented in the field of opera and the Classical arts in general. Across society, powerful role models can inspire future generations, whether it is in sport, science, or the arts. 
            </div>
            <div class="text_block">    
                By fulfilling this need we hope to encourage minority audiences to see possibilities for themselves, to say, "Yes, I too can do that!" Our work takes us to engage with many different communities including Schools, Prisons,Churches and Health and Caring communities. 
            </div>
            <h4 id="goals">
                Goals
            </h4>
            <div class="text_block">
                However our major project is a biannual competition 'Voice OF Black Opera' for BAME singers from the British Commonwealth. 
            </div>
            <div class="text_block">
                <div class="stick_box">
                    <div class="number_head">
                        1
                    </div>
                    <div class="text">
                        This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment (The Band plays by permission of the Air Force Board of the Defence Council.) and ST CLEMENT DANES, has the potential  to change the lives of the winners. 
                    </div>
                </div>
            </div>
            <div class="text_block">
                <div class="stick_box">
                    <div class="number_head">
                        2
                    </div>
                    <div class="text">
                        This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment (The Band plays by permission of the Air Force Board of the Defence Council.) and ST CLEMENT DANES, has the potential  to change the lives of the winners. 
                    </div>
                </div>
            </div>
            <div class="text_block">
                <div class="stick_box">
                    <div class="number_head">
                        3
                    </div>
                    <div class="text">
                        This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment (The Band plays by permission of the Air Force Board of the Defence Council.) and ST CLEMENT DANES, has the potential  to change the lives of the winners. 
                    </div>
                </div>
            </div>
            <h4 id="initiatives">
                Initiatives
            </h4>
            <div class="text_block">
                This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment.
            </div>
            <div class="image_box two_image">
                <div>
                    <img src="{{ url_for('static', filename='/images/image_1.png') }}" alt="BBCF">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='/images/image_2.png') }}" alt="BBCF">
                </div>
            </div>
            <div class="text_block">
                This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment (The Band plays by permission of the Air Force Board of the Defence Council.) and ST CLEMENT DANES, has the potential  to change the lives of the winners. 
            </div>
            <div class="text_block">
                Twenty singers will be brought to the UK and after a series of heats are reduced to six, who will each perform a twenty minutes programme with a full orchestra at the Gala Finals. The previous winners was Elizabeth Llewellyn from Jamaica who has gone on to sing a number of prestigious roles including the lead role, Mimi, in La Boheme with the English National Opera 
            </div>
            <div class="image_box one_image">
                <img src="{{ url_for('static', filename='/images/image_1.png') }}" alt="BBCF">
            </div>
            <div class="text_block">
                This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment (The Band plays by permission of the Air Force Board of the Defence Council.) and ST CLEMENT DANES, has the potential  to change the lives of the winners.
            </div>
            <div class="text_block">
                Twenty singers will be brought to the UK and after a series of heats are reduced to six, who will each perform a twenty minutes programme with a full orchestra at the Gala Finals. The previous winners was Elizabeth Llewellyn from Jamaica who has gone on to sing a number of prestigious roles including the lead role, Mimi, in La Boheme with the English National Opera
            </div>
            <h4 id="outcomes">
                Outcomes
            </h4>
            <div class="text_block">
                However our major project is a biannual competition 'Voice OF Black Opera' for BAME singers from the British Commonwealth.
            </div>
            <div class="text_block">
                This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment (The Band plays by permission of the Air Force Board of the Defence Council.) and ST CLEMENT DANES, has the potential  to change the lives of the winners.
            </div>
            <div class="fact_box">
                <div class="fact">
                    <div class="stick_box">
                        <div class="number_head">
                            132
                        </div>
                        <div class="text">
                            BAME performers took part in BBCF concerts
                        </div>
                    </div>
                </div>
                <div class="fact">
                    <div class="stick_box">
                        <div class="number_head">
                            16
                        </div>
                        <div class="text">
                            performers at major roles at opera houses
                        </div>
                    </div>
                </div>
                <div class="fact">
                    <div class="stick_box">
                        <div class="number_head">
                            1k
                        </div>
                        <div class="text">
                            of averge views of our online concert content
                        </div>
                    </div>
                </div>
            </div>
            <div class="text_block">
                This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment (The Band plays by permission of the Air Force Board of the Defence Council.) and ST CLEMENT DANES, has the potential  to change the lives of the winners. 
            </div>
            <div class="text_block">
                Twenty singers will be brought to the UK and after a series of heats are reduced to six, who will each perform a twenty minutes programme with a full orchestra at the Gala Finals. The previous winners was Elizabeth Llewellyn from Jamaica who has gone on to sing a number of prestigious roles including the lead role, Mimi, in La Boheme with the English National Opera
            </div>
            <h4 id="patrons">
                Patrons
            </h4>
            <div class="patrons">
                <div class="patron">
                    <div class="patron_image">
                        <img src="/images/patrons_1.png" alt="">
                    </div>
                    <div class="patron_name">
                        Vincent Osbourne
                    </div>
                    <div class="patron_title">
                        BBCF Performer and VOBOS 2018 winner
                    </div>
                    <div class="patron_text">
                        We are incorporated  to address the situation where ethnic minorities are underrepresented in the field of opera and the Classical 
                    </div>
                </div>
                <div class="patron">
                    <div class="patron_image">
                        <img src="/images/patrons_1.png" alt="">
                    </div>
                    <div class="patron_name">
                        Vincent Osbourne
                    </div>
                    <div class="patron_title">
                        BBCF Performer and VOBOS 2018 winner
                    </div>
                    <div class="patron_text">
                        We are incorporated  to address the situation where ethnic minorities are underrepresented in the field of opera and the Classical 
                    </div>
                </div>
                <div class="patron">
                    <div class="patron_image">
                        <img src="/images/patrons_1.png" alt="">
                    </div>
                    <div class="patron_name">
                        Vincent Osbourne
                    </div>
                    <div class="patron_title">
                        BBCF Performer and VOBOS 2018 winner
                    </div>
                    <div class="patron_text">
                        We are incorporated  to address the situation where ethnic minorities are underrepresented in the field of opera and the Classical 
                    </div>
                </div>
            </div>
            <h4 id="testimonials">
                Testimonials
            </h4>
            <div class="testimonials">
                <div class="testimonial">
                    <div class="quote blue_box">
                        Black British Classical Foundation exists for the purpose of nurturing an interest and participation in the classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.
                    </div>
                    <div class="name_box">
                        <div class="image">
                            <img src="/images/patrons_1.png" alt="">
                        </div>
                        <div class="name">
                            Benson Wilson
                        </div>
                        <div class="title">
                            BBCF performer and VOBOs 2018 winner
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="quote blue_box">
                        Black British Classical Foundation exists for the purpose of nurturing an interest and participation in the classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.
                    </div>
                    <div class="name_box">
                        <div class="image">
                            <img src="/images/patrons_1.png" alt="">
                        </div>
                        <div class="name">
                            Benson Wilson
                        </div>
                        <div class="title">
                            BBCF performer and VOBOs 2018 winner
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="quote blue_box">
                        Black British Classical Foundation exists for the purpose of nurturing an interest and participation in the classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.
                    </div>
                    <div class="name_box">
                        <div class="image">
                            <img src="/images/patrons_1.png" alt="">
                        </div>
                        <div class="name">
                            Benson Wilson
                        </div>
                        <div class="title">
                            BBCF performer and VOBOs 2018 winner
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}