<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/menu.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
        {% block css %}{% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Noto+Serif&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
        <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
        <title>BBCF - {% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="hamburger_button">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <nav class="nav_bar">
                {% include 'includes/menu.html' %}
            </nav>
            <div class="main">
                {% block content %}
                {% endblock %}
                <div class="footer section_margins">
                    <div class="top">
                        <h3>We need your support</h3>
                    </div>
                    <div class="left">
                            <p>
                                Our work depends on the support and contributions of people like you. If you want to perform, raise funds or collaborate in any way, we'd love to hear from you.
                            </p>
                            <p>
                                Contact us: hello@bbcf.uk | +44 7855 800 212
                            </p>
                    </div>
                    <div class="padd">
                        <!-- for padding -->
                    </div> 
                    <div class="right">
                        <div class="button_with_arrow background_color_red"
                             onclick="window.open('https://www.paypal.com/paypalme/my/profile');">
                            <div>Donate</div>
                            <div></div>
                            <div><i class="fas fa-chevron-circle-right"></i></div>
                        </div>
                        <div class="button_with_arrow">
                            <div>Volunteer</div>
                            <div></div>
                            <div><i class="fas fa-chevron-circle-right"></i></div>
                        </div>
                        <div class="button_with_arrow">
                            <div>Collaborate</div>
                            <div></div>
                            <div><i class="fas fa-chevron-circle-right"></i></div>
                        </div>
                        <div class="button_with_arrow">
                            <div>Perform</div>
                            <div></div>
                            <div><i class="fas fa-chevron-circle-right"></i></div>
                        </div>
                    </div>
                    <div class="bottom">
                        <span>
                            Terms of Use
                        </span>
                        <span>
                            Privacy
                        </span>
                        <span>
                            Accessibility
                        </span>
                        <span>
                            Privacy and Cookie Notice
                        </span>
                        <span>
                            &copy 2020 Black British Classical Foundation
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
    </body>
</html>