<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
        <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
        <title>BBCF - Black British Classifical Foundation</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="hamburger_button">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <nav class="nav_bar">
                <div class="nav_header">
                    <img class="nav_logo" src="/static/images/logo.png">
                </div>
                <ul class="nav_items">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/templates/our_work.html">Our Work</a></li>
                    <li><a href="/templates/performances.html">Performances</a></li>
                    <li><a href="/templates/performers.html">Performers</a></li>
                    <li><a href="/templates/shop.html">Shop</a></li>
                    <li><a href="/templates/get_involved.html">Get Involved</a></li>
                    <li>
                        <div class="nav_donate">
                            <div>Donate</div>
                            <div></div>
                            <div><ion-icon class="arrow" name="chevron-forward-circle"></ion-icon></div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main">
                <div class="content">
                    <h1>Content</h1>
                </div>
                <div class="footer">
                    <div class="top">
                        <h1>We need your support</h1>
                    </div>
                    <div class="left">
                            <p>
                                Our work depends on the support and contributions of people like you. If you want to perform, raise funds or collaborate in any way, we'd love to hear from you.
                            </p>
                            <p>
                                Contact us: hello@bbcf.uk | +44 7855 800 212
                            </p>
                    </div>
                    <div class="padd">
                        <!-- for padding -->
                    </div>
                    <div class="right">
                        <div class="footer_link_list donate">
                            <div>Donate</div>
                            <div></div>
                            <div><ion-icon class="arrow" name="chevron-forward-circle"></ion-icon></div>
                        </div>
                        <div class="footer_link_list">
                            <div>Volunteer</div>
                            <div></div>
                            <div><ion-icon class="arrow" name="chevron-forward-circle"></ion-icon></div>
                        </div>
                        <div class="footer_link_list">
                            <div>Collaborate</div>
                            <div></div>
                            <div><ion-icon class="arrow" name="chevron-forward-circle"></ion-icon></div>
                        </div>
                        <div class="footer_link_list">
                            <div>Perform</div>
                            <div></div>
                            <div><ion-icon class="arrow" name="chevron-forward-circle"></ion-icon></div>
                        </div>
                    </div>
                    <div class="bottom">
                        <span>
                            Terms of Use
                        </span>
                        <span>
                            Privacy
                        </span>
                        <span>
                            Accessibility
                        </span>
                        <span>
                            Privacy and Cookie Notice
                        </span>
                        <span>
                            &copy 2020 Black British Classical Foundation
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/main.js"></script>
    </body>
</html>