{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
{% endblock %}
{% block meta %}
<meta name="title" content="BBCF: Representing and Promoting BAME Opera Performers">
<meta name="description" content="Competitions, events, and representation to inspire BAME audiences and give
them better access to opera and the classical arts.">
{% endblock %}
{% block title %}Black British Classical Foundation{% endblock %}

{% block content %}
    <div class="index">
        <div class="index_main section_margins">
            <div class="donate_button" onclick="window.open('https://www.justgiving.com/blackbritishclassicalfdn');">
                <div class="button_with_arrow">
                    <div>Donate</div>
                    <div></div>
                    <div><img src="{{ url_for('static', filename='/images/svg/Icon_arrow.svg') }}"></div>
                </div>
            </div>
            <div class="box_box">
                <div class="first">
                    <div class="content stick_box">
                        <h1>We are the Black British Classical Foundation</h1>
                        <p>The BBCF tackles the lack of ethnic diversity in the classical arts, representing and
                            working in communities of colour throughout the UK and beyond. Opera for anyone and everyone. </p>
                    </div>
                </div>
                <div class="second image1">
                    <div class="pad1"></div>
                    <div class="pad2"></div>
                    <div class="imagebox"><img src="{{ url_for('static', filename='/images/image_1.png') }}"/></div>
                    <div class="pad3"></div>
                </div>
                <div class="third image2">
                    <div class="pad1"></div>
                    <div class="pad2"></div>
                    <div class="imagebox"><img src="{{ url_for('static', filename='/images/image_2.png') }}"/></div>
                    <div class="pad3"></div>
                </div>
                <div class="fourth modal_button">
                    <div class="content stick_box">
                        <div class="film_box_bar">
                            <div class="button_with_arrow">
                                <div>Watch our film</div>
                                <div></div>
                                <div><img src="{{ url_for('static', filename='/images/svg/Icon_arrow.svg') }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button_with_arrow" onclick="window.location.href='/our_work'" style="cursor: pointer; width: 260px;">
                <div>Our mission</div>
                <div></div>
                <div><img src="{{ url_for('static', filename='/images/svg/Icon_arrow.svg') }}"></div>
            </div>
        </div>
        <div class="index_events section_margins">
<!--            <div class="events_announcements">-->
<!--                <div>-->
<!--                    <h3>Call for performers</h3>-->
<!--                    <p>-->
<!--                        We're looking for the next generation of BAME Opera talent for the 2020 Voice of Black Opera Competition. Could this be you?-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    &lt;!&ndash; for padding &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="button_with_arrow">-->
<!--                    <div>Find out more </div>-->
<!--                    <div></div>-->
<!--                    <div><img src="{{ url_for('static', filename='/images/svg/Icon_arrow.svg') }}"></div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="content_box">
                <div class="content_head">
                    <div class="head_title">
                        <h2>What's on</h2>
                    </div>
                </div>
            </div>
            <div class="content_box">
                <div class="events_box">
                {% for event in events %}
                    <div class="event">
                        <div class="event_main">
                            <div class="box_content stick_box">
                                <div class="box_title">
                                    <div class="box_dates">
                                        {{ event.day_and_month }}
                                    </div>
                                    <h3>{{ event.title }} - {{ event.location }}</h3>
                                </div>
                                <div class="box_text">
                                    {{ event.description }}
                                </div>
                            </div>
                            <div class="box_image">
                                {% if event.image %}
                                <img src="{{ url_for('static', filename=event.image_url) }}" style="width: 20em"
                                     alt="image for event">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

        <div class="index_newsletter section_margins">
            <form action="/signup" method="post">
                <div class="newletter_head">
                    <h4>Stay up-to-date with our BBCF newsletter</h4>
                </div>
                <div class="newsletter_form">
                    <div class="sub">
                        <input type="email" placeholder="Enter email address" maxlength="40" name="email" />
                    </div>
                    <div class="sub">
                        <input type="submit" value="Sign Up">
                    </div>
                </div>
            </form>
        </div>
        <div id="myModal" class="modal_window">
            <div class="modal_content">
                <span class="modal_close">&times;</span>
                <iframe class="YouTube" width="560" height="315" src="" frameborder="0" allow="accelerometer; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}