{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
{% endblock %}
{% block title %}Black British Classical Foundation{% endblock %}

{% block content %}
    <div class="index">
        <div class="index_main section_margins">
            <div class="logo_mobile">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="BBCF">
            </div>
            <div class="first">
                <div class="content stick_box">
                    <h4>We are the Black British Classical Foundation</h4>
                    <p>We exist to nurture interest and participation in classical arts, especially in communities of colour in the UK and beyond.</p>
                </div>
            </div>
            <div class="second image1">
                <div class="pad1"></div>
                <div class="pad2"></div>
                <div class="imagebox"><img src="{{ url_for('static', filename='/images/image_1.png') }}"/></div>
                <div class="pad3"></div>
            </div>
            <div class="third image2">
                <div class="pad1"></div>
                <div class="pad2"></div>
                <div class="imagebox"><img src="{{ url_for('static', filename='/images/image_2.png') }}"/></div>
                <div class="pad3"></div>
            </div>
            <div class="fourth">
                <div class="content stick_box">
                    <div class="film_box_bar">
                        <div class="button_with_arrow">
                            <div>Watch the film</div>
                            <div></div>
                            <div><i class="fas fa-chevron-circle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="index_events section_margins">
            <div class="events_announcements">
                <h6>Call for performers</h6>
                <p>
                    We're looking for the next generation of BAME Opera talent for the 2020 Voice of Black Opera Competition. Could this be you?
                </p>
                <div class="button_with_arrow">
                    <div>Find out more </div>
                    <div></div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
            <div class="content_head">
                <div class="head_title">
                    <h4>Upcoming events</h4>
                </div>
                <div>
                    <!-- for padding -->
                </div>
                <div class="button_with_arrow">
                    <div>More events</div>
                    <div></div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
            <div class="events_box">
                <div class="featured_event">
                    <div class="featured_main">
                        <div class="featured_content stick_box">
                            <div class="featured_title">
                                <div class="featured_dates">
                                    6 September - 12 October
                                </div>
                                <h4>Voice of Black Opera 2022</h4>
                            </div>
                            <div class="featured_text">
                                <p>Join us as we search the British Commonwealth for the next BAME opera talent in our one of a kind biennial competition.</p>
                                <p class="emphasise">Timetable</p>
                                <p>06 September | Round 1 in London</p>
                                <p>06 September | Round 2 in St. Kitts</p>
                                <p>02 October | Grand Final in London</p>
                            </div>
                        </div>
                        <div class="featured_image">
                            IMAGE
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="event_main">
                        <div class="box_content stick_box">
                            <div class="box_title">
                                <div class="box_dates">
                                    6 September
                                </div>
                                <h5>Sunset song recital at Suffolk Pianos - London</h5>
                            </div>
                            <div class="box_text">
                                Join award winning live musician Michaela Allen and classical singer Anna Llewellyn for a live-streamed concert hosted by Suffolk Pianos.
                            </div>
                        </div>
                        <div class="box_image">
                            IMAGE
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="event_main">
                        <div class="box_content stick_box">
                            <div class="box_title">
                                <div class="box_dates">
                                    6 September
                                </div>
                                <h5>Sunset song recital at Suffolk Pianos - London</h5>
                            </div>
                            <div class="box_text">
                                Join award winning live musician Michaela Allen and classical singer Anna Llewellyn for a live-streamed concert hosted by Suffolk Pianos.
                            </div>
                        </div>
                        <div class="box_image">
                            IMAGE
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="index_newsletter section_margins">
            <form action="#" method="post">
                <div class="newletter_head">
                    <h6>Get event updates and more in our newsletter</h6>
                </div>
                <div class="newsletter_form">
                    <div class="sub">
                        <input type="email" placeholder="Enter e-Mail address" maxlength="40" name="newsletter_email" />
                    </div>
                    <div class="sub">
                        <input type="submit" value="Sign Up">
                    </div>
                </div>
            </form>
        </div>

        <div class="index_performances section_margins">
            <div class="content_head">
                <div class="head_title">
                    <h4>Past Performances</h4>
                </div>
                <div>
                    <!-- for padding -->
                </div>
                <div class="button_with_arrow">
                    <div>More about our work</div>
                    <div></div>
                    <div><i class="fas fa-chevron-circle-right"></i></div>
                </div>
            </div>
            <div class="performances_events">
                <div class="events_box">
                    <div class="events_image">
                        Event Image
                    </div>
                    <div class="events_title">
                        <p>Opera At The Mill</p>
                    </div>
                    <div class="events_text">12th April | Bristol | 17 mins</div>
                </div>
                <div class="events_box">
                    <div class="events_image">
                        Event Image
                    </div>
                    <div class="events_title">
                        <p>Opera At The Mill</p>
                    </div>
                    <div class="events_text">12th April | Bristol | 17 mins</div>
                </div>
                <div class="events_box">
                    <div class="events_image">
                        Event Image
                    </div>
                    <div class="events_title">
                        <p>Opera At The Mill</p>
                    </div>
                    <div class="events_text">12th April | Bristol | 17 mins</div>
                </div>
                <div class="events_box">
                    <div class="events_image">
                        Event Image
                    </div>
                    <div class="events_title">
                        <p>Opera At The Mill</p>
                    </div>
                    <div class="events_text">12th April | Bristol | 17 mins</div>
                </div>
                <div class="events_box">
                    <div class="events_image">
                        Event Image
                    </div>
                    <div class="events_title">
                        <p>Opera At The Mill</p>
                    </div>
                    <div class="events_text">12th April | Bristol | 17 mins</div>
                </div>
                <div class="events_box">
                    <div class="events_image">
                        Event Image
                    </div>
                    <div class="events_title">
                        <p>Opera At The Mill</p>
                    </div>
                    <div class="events_text">12th April | Bristol | 17 mins</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}