{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/our_work.css') }}">
{% endblock %}

{% block meta %}
<meta name="title" content="BBCF: Diversifying Opera and Classical Arts">
<meta name="description" content="Opera and the classical arts need diversity. Not just in performers, but audiences too.
Here’s how we’re making that a reality. ">
{% endblock %}

{% block title %}
    Our Work
{% endblock %}

{% block content %}
    <div class="our_work">
        <div class="page_heading section_margins stick_box">
            <div class="left">
                <h1>Our work</h1>
                <div class="subtext">
                    As a charity, we’re addressing the lack of representation of ethnic minorities – from performers to
                    communities with access to performances – in the field of opera, and classical arts in general.
                </div>
            </div>
            <div class="right">
                <div class="contact_box">
                    <div class="head stick_box">
                        <h2>Get in touch</h2>
                    </div>
                    <p><span class="bold">Phone : </span>+44 7855 800 212</p>
                    <p><span class="bold">eMail : </span>hello@bbcf.uk</p>
                </div>
            </div>
            <div class="button_with_arrow donate" style="cursor: pointer;" onclick="window.open('https://www.justgiving.com/blackbritishclassicalfdn');">
                <div style="color: white;">Donate</div>
                <div></div>
                <div><i class="fas fa-chevron-circle-right" style="color: white; opacity: 0.5;"></i></div>
            </div>
            <div id="our_mission"></div>
        </div>
        <div class="page_content">
            <h2>
                Our mission
            </h2>
            <div class="text_block">
                Black, white, asian, minorities of all ethnicities – opera is a space and place for everyone. To sing,
                to dance, to be inspired. But, as it stands, opera audiences and stages don’t fully represent BAME
                communities. We want to change that.
            </div>
            <div class="text_block blue_box">
                <div class="stick_box">
                    Black British Classical Foundation exists for the purpose of nurturing an interest and participation in the classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.
                </div>
            </div>
            <div class="text_block">
                In 2015, King’s College London found that of 17 British orchestras, only 1.7 percent of their members
                came from a BAME background. Worse still, modern classical audiences seem to be reflecting that. BAME
                communities may be overlooked as performers or perhaps made to feel unwelcome by predominantly white
                spaces… whether unconsciously or not. Whatever the reasons, the classical arts are missing out on new
                voices and broader audiences.
            </div>
            <div class="text_block">
                The good news is that there is time to change that. And that time is now. At the Black British Classical
                Foundation, our mission is three-fold:
                <div  id="goals"></div>
            </div>
            <div class="text_block">
                <div class="stick_box">
                    <div class="number_head">
                        1
                    </div>
                    <div class="text">
                        Address the lack of diversity in opera.
                    </div>
                </div>
            </div>
            <div class="text_block">
                <div class="stick_box">
                    <div class="number_head">
                        2
                    </div>
                    <div class="text">
                        Give BAME performers a platform to succeed in the industry.
                    </div>
                </div>
            </div>
            <div class="text_block">
                <div class="stick_box">
                    <div class="number_head">
                        3
                    </div>
                    <div class="text">
                        Bring new audiences to the world of classical music.
                    </div>
                </div>
                <div id="initiatives"></div>
            </div>
            <br/>
            <h2>
                Initiatives
            </h2>
            <div class="text_block">
                Through our events, we represent BAME performers and inspire communities of colour to enjoy opera and
                the classical arts. But, our flagship project is the Voice of Black Opera competition.
            </div>
            <div class="image_box two_image">
                <div>
                    <img src="{{ url_for('static', filename='/images/image_1.png') }}" alt="BBCF">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='/images/image_2.png') }}" alt="BBCF">
                </div>
            </div>
            <div class="text_block">
                Supported by the Royal Opera House and Wigmore Hall, VOBO is a globally-recognised, biannual competition
                that develops BAME artists, creates opportunities and inspires participation from audiences and
                performers. The premise is simple: twenty singers from the commonwealth are brought to the UK, after a
                series of heats they are reduced to six. These finalists perform a twenty-minute programme with a full
                orchestra.
            </div>
            <div class="text_block">
                It’s a competition with big reward – the previous winner was Elizabeth Llewellyn from Jamaica, who went
                on to land a lead role, Mimi, in La Boheme with the English National Opera – but the VOBO’s isn’t
                about winning.
            </div>
            <div class="image_box one_image">
                <img src="{{ url_for('static', filename='/images/image_1.png') }}" alt="BBCF">
            </div>
            <div class="text_block">
                The real point for competitors, and of the competition itself, is about being seen and heard.
                Participants take their experiences, and newly-honed abilities home, where they can pass inspiration on
                to others. Not only is the winner catapulted into the spotlight, the event inspires and encourages many more.
                <div  id="outcomes"></div>
            </div>
            <br/>
            <h2>
                Patrons
            </h2>
            <div class="patrons">
                <div class="patron">
                    <div class="patron_image">
                        <img src="/images/patrons_1.png" alt="Vincent Osborne">
                    </div>
                    <div class="patron_name">
                        Vincent Osbourne
                    </div>
                    <div class="patron_title">
                        BBCF Performer and VOBOS 2018 winner
                    </div>
                    <div class="patron_text">
                        Trained at Birmingham Theatre School as an Actor and Teacher of Speech and Drama, Vincent has
                        worked extensively in repertory companies including The National Theatre, and the West End.
                        Vincent was the creator of the first Black Soap Opera - "Brothers and Sisters" on BBC2, before
                        going on to become a successful entrepreneur, sponsoring the Brixton Open an Arts Competition
                        from its conception. Now a campaigner, The Black British Classical Foundation is a continuation
                        and expansion of the work Vincent began in those early days, and is now set to culminate in the
                        Voice Of Black Opera.
                    </div>
                </div>
                <div class="patron">
                    <div class="patron_image">
                        <img src="/images/patrons_2.jpeg" alt="Lord Boateng" style="border-radius: 50%; height: 9em; width: 11em;">
                    </div>
                    <div class="patron_name">
                        Lord Boateng
                    </div>
                    <div class="patron_title">
                        BBCF Performer and VOBOS 2018 winner
                    </div>
                    <div class="patron_text">
                        Former MP Paul Boateng became the UK's first mixed-race Cabinet Minister in May 2002, when he
                        was appointed as Chief Secretary to the Treasury by Tony Blair. Following his departure from the
                        House of Commons, he served as the British High Commissioner to South Africa and was introduced
                        as a member of the House of Lords in 2010.
                    </div>
                </div>
                <div class="patron">
                    <div class="patron_image">
                        <img src="/images/patrons_3.jpeg" alt="Grace Melzia-Bumbry" style="border-radius: 50%; height: 9em;">
                    </div>
                    <div class="patron_name">
                        Grace-Melzia Bumbry
                    </div>
                    <div class="patron_title">
                        BBCF Performer and VOBOS 2018 winner
                    </div>
                    <div class="patron_text">
                        As one of opera's most controversial artists, Grace-Melzia Bumbry continues to make headlines.
                        With a 50-plus year career she is phenomenally preserved. Critics and audiences around the world
                        continue to cheer this celebrated artist, who garners remarkable coverage and incredible ovations
                        with reviews praising her as a national treasure, spectacular, spiritual and magnificent.
                    </div>
                </div>
            </div>
            <br/>
            <h2 class="outcome">
                Outcomes
            </h2>
            <div class="text_block">
                However our major project is a biannual competition 'Voice OF Black Opera' for BAME singers from the British Commonwealth.
            </div>
            <div class="text_block">
                This competition, supported by the Royal Opera House, The Band of the Royal Air Force Regiment (The Band plays by permission of the Air Force Board of the Defence Council.) and ST CLEMENT DANES, has the potential  to change the lives of the winners.
            </div>
            <div class="fact_box">
                <div class="fact">
                    <div class="stick_box">
                        <div class="number_head">
                            132
                        </div>
                        <div class="text">
                            BAME performers took part in BBCF concerts
                        </div>
                    </div>
                </div>
                <div class="fact">
                    <div class="stick_box">
                        <div class="number_head">
                            16
                        </div>
                        <div class="text">
                            performers at major roles at opera houses
                        </div>
                    </div>
                </div>
                <div class="fact">
                    <div class="stick_box">
                        <div class="number_head">
                            1k
                        </div>
                        <div class="text">
                            of averge views of our online concert content
                        </div>
                    </div>
                </div>
            </div>
            <p>BBCF are in agreement with the Nolan Principles and have Adopted the Charity Commission Code of Practice.</p>
<!--            <h4 id="testimonials">-->
<!--                Testimonials-->
<!--            </h4>-->
<!--            <div class="testimonials">-->
<!--                <div class="testimonial">-->
<!--                    <div class="quote blue_box">-->
<!--                        Black British Classical Foundation exists for the purpose of nurturing an interest and participation in the classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.-->
<!--                    </div>-->
<!--                    <div class="name_box">-->
<!--                        <div class="image">-->
<!--                            <img src="/images/patrons_1.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="name">-->
<!--                            Benson Wilson-->
<!--                        </div>-->
<!--                        <div class="title">-->
<!--                            BBCF performer and VOBOs 2018 winner-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="testimonial">-->
<!--                    <div class="quote blue_box">-->
<!--                        Black British Classical Foundation exists for the purpose of nurturing an interest and participation in the classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.-->
<!--                    </div>-->
<!--                    <div class="name_box">-->
<!--                        <div class="image">-->
<!--                            <img src="/images/patrons_1.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="name">-->
<!--                            Benson Wilson-->
<!--                        </div>-->
<!--                        <div class="title">-->
<!--                            BBCF performer and VOBOs 2018 winner-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="testimonial">-->
<!--                    <div class="quote blue_box">-->
<!--                        Black British Classical Foundation exists for the purpose of nurturing an interest and participation in the classical arts, in particular, Opera, amongst communities of colour in the UK and beyond.-->
<!--                    </div>-->
<!--                    <div class="name_box">-->
<!--                        <div class="image">-->
<!--                            <img src="/images/patrons_1.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="name">-->
<!--                            Benson Wilson-->
<!--                        </div>-->
<!--                        <div class="title">-->
<!--                            BBCF performer and VOBOs 2018 winner-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <script>
            //setting the menu to current page destination
            current = "our_work"
        </script>
    </div>
{% endblock %}