<div class="nav_header">
    <img class="nav_logo" src="{{ url_for('static', filename='images/logo.png') }}">
</div>
<div class="menu">
    <div class="item" id="home">
        <a href="index" class="button">Home</a>
    </div>
    <div class="item" id="our_work">
        <a href="our_work" class="button">Our Work</a>
        <div class="sub_menu">
            <a href="our_work#our_mission" class="links our_mission" onclick="closeNav()">Our mission</a>
            <a href="our_work#goals"  class="links goals" onclick="closeNav()">Goals</a>
            <a href="our_work#initiatives"  class="links initiatives" onclick="closeNav()">Initiatives</a>
            <a href="our_work#outcomes"  class="links outcomes" onclick="closeNav()">Outcomes</a>
            <a href="our_work#patrons"  class="links patrons" onclick="closeNav()">Patrons</a>
            <a href="our_work#testimonials"  class="links testimonials" onclick="closeNav()">Testimonials</a>
        </div>
    </div>
    <!-- <div class="item" id="performances">
        <a href="#performances" class="button showcase">Showcase</a>
        <div class="sub_menu">
            <a href="#" onclick="closeNav()">2020</a>
            <a href="#" onclick="closeNav()">2019</a>
            <a href="#" onclick="closeNav()">2018</a>
            <a href="#" onclick="closeNav()">2017</a>

        </div>
    </div>
    <div class="item" id="concerts">
        <a href="#concerts" class="button talent">Talent</a>
        <div class="sub_menu">
            <a href="#" onclick="closeNav()">Concerts 1</a>
            <a href="#" onclick="closeNav()">Concerts 2</a>
            <a href="#" onclick="closeNav()">Concerts 3</a>

        </div>
    </div>
    <div class="item" id="shop">
        <a href="#shop" class="button shop">Shop</a>
        <div class="sub_menu">
            <a href="#" onclick="closeNav()">Shop 1</a>
            <a href="#" onclick="closeNav()">Shop 2</a>
            <a href="#" onclick="closeNav()">Shop 3</a>

        </div>
    </div> -->
</div>